/* PAGE 2 - FORM Buildings */

body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}
h1, h2, h3 {
  font-family: Helvetica, sans-serif;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: #3A9FEE;
}

h6 {
  font-size: 16px;
  line-height: 21px;
}

p {
  font-size: 12px;
  font-color: lightgrey;
}

.wrapper {
  margin: 0px auto;
  background-size: 100vh;
  padding: 0px 133px;
  height: 100%;
  background-image: linear-gradient(-225deg, rgba(255, 255, 255, 0.1) 4%, rgba(255, 255, 255, 0.1)), image_url('background-polygon.png');
  background-repeat:no-repeat;
  background-size: cover;
  overflow: hidden;
}
.main-container {
  margin: 10px auto;
  max-width: 900px;
  height: 100vh;
}

/*-- Logo, phone and FAQ bar */
.container-logo-help {
  display: flex;
  margin: 0 auto 10px auto;
  padding: 10px 0px;
  justify-content: space-between;
}
.container-logo {
  flex: 0 0 15%;
}
// .container-progress {
//   flex-grow: 1;
//   margin: 0px 35px;
//   padding: 20px;
// }
// .progress {
//   height: 5px;
//   margin-bottom: 0px;

// }
.container-help {
  display: flex;
  flex: 0 0 20%;
  align-items: center;
  justify-content: space-between;
}

.container-logo img {
  padding-top: 0px;
  margin: 0px;
  width: 150px;
}
.container-help p {
  color: grey;
  padding: 10px 0px 0px 0px;
  font-size: 12px;
}
.container-help i {
  margin-right: 5px;
}
.container-help a {
  border: 1px solid grey;
  border-radius: 20px;
  padding: 2px 13px;
  font-size: 12px;
  color: grey;
  text-decoration: none;
  font-weight: lighter;
  opacity: 0.6;
  transition: background 0.5s ease;
}
.container-help a:hover {
  opacity: 1;
}


/* Main grid only on Buildings page */

.container-content-buildings-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 16% 30% 39% 15%;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  border-radius: 15px;
  height: 560px;
  background-color: white;
}

/* Form heading only on buildings page */
.form-heading-buildings-page {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  padding: 30px 50px;
}

/* Radio buttons only on buildings page*/
.form-icons-buildings-page {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
  padding: 30px 50px;
  display: flex;
  justify-content: space-around;
}
.form-icons-buildings-page p {
  text-align: center;
  color: gray;
  font-size: 14px;
  font-weight: lighter;
}
.form-icon-house, .form-icon-apartment, .form-icon-office {
  img {
    opacity: 0.6;
    transform: scale(0.9);
    margin: 5px 5px;
  }
  transition: all 200ms ease;
}
.form-icons-buildings-page {
label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #3A9FEE;
  border-radius: 4px;
}
}
.form-icons-buildings-page label > input:checked + img {
  opacity: 1.0;
  transform: scale(1.0);
  border: 0px solid transparent !important;
  transition: all 200ms ease;
}
.form-icons-buildings-page label > input + img {
  border: none;
  transition: all 200ms ease;
}
.radio-btn img[type="radio"]:checked + label .radio-image {
  opacity:1.0;
}


/* Insert email field only on buildings page */
.form-give-us-email {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
  padding: 55px 50px 33px 80px;
}
.form-give-us-email h6 {
  font-size: 13px;
  margin-top: 0px;
}
.form-group-label {
  display:none;
  font-size: 13px;
  color: white;
}
.form-group select{
  width: 65%;
}
.form-group input {
  width: 100%;
  border-radius: 6px;
  border: none;
  margin-top: 10px;
  padding: 22px 12px;
  font-size: 19px;


}
.form-give-us-email p {
  margin-bottom: 20px;
  color: grey;
}

/* Buttons back and next only on buildings page */
.form-buttons-buildings-page {
  grid-column: 2 / span 2;
  grid-row: 4 / span 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 35px 30px;
  margin-left: 20px;
}









/* Main grid on every page*/

.container-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25% 55% 20%;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  border-radius: 15px;
  height: 560px;
  background-color: white;
  position: relative;
}



/* 2 - Price estimate building */
.container-form-content-building {
  grid-column: 1 / span 1;
  grid-row: 1 / span 4;
  background-image: linear-gradient(-225deg, rgba(47, 128, 237, 0.8) 50%, rgba(86, 204, 242, 0.4)), image_url('2building.jpeg');
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-size: 900px auto;
  background-position: 30% 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  min-height: 0;
  min-width: 0;
}
.container-price-estimate {
  color: white;
  font-size: 45px;
  padding: 10px;
  flex: 0 0 60%;
}

/* 3 - Price estimate floor */
.container-form-content-floor {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  background-image: linear-gradient(-225deg, rgba(47, 128, 237, 0.8) 50%, rgba(86, 204, 242, 0.4)), image_url('3floor.jpg');
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-size: 900px auto;
  background-position: 83% 78%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  min-height: 0;
  min-width: 0;
}

/* 4 - Price estimate hull*/
.container-form-content-hull {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  background-image: linear-gradient(-225deg, rgba(47, 128, 237, 0.8) 50%, rgba(86, 204, 242, 0.4)), image_url('9people.jpg');
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-size: 900px auto;
  background-position: 74% 69%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  min-height: 0;
  min-width: 0;
}

/* 5 - Price estimate door*/
.container-form-content-door {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  background-image: linear-gradient(-225deg, rgba(47, 128, 237, 0.7) 50%, rgba(86, 204, 242, 0.4)), image_url('5door.jpg');
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-size: 1000px auto;
  background-position: 62% 19%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  min-height: 0;
  min-width: 0;
}

/* 6 - Price estimate window*/
.container-form-content-window {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  background-image: linear-gradient(-225deg, rgba(47, 128, 237, 0.8) 50%, rgba(86, 204, 242, 0.4)), image_url('6window.jpg');
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-size: 900px auto;
  background-position: 19% 71%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  min-height: 0;
  min-width: 0;
}

/* 7 - Price estimate room*/
.container-form-content-room {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  background-image: linear-gradient(-225deg, rgba(47, 128, 237, 0.8) 50%, rgba(86, 204, 242, 0.4)), image_url('8certification.jpeg');
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-size: 900px auto;
  background-position: 54% 88%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  min-height: 0;
  min-width: 0;
}

/* 8 - Price estimate certification */
.container-form-content-certification {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  background-image: linear-gradient(-225deg, rgba(47, 128, 237, 0.8) 50%, rgba(86, 204, 242, 0.4)), image_url('7room.jpg');
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-size: 900px auto;
  background-position: 55% 98%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  min-height: 0;
  min-width: 0;
}


/* 9 - Price estimate people*/
.container-form-content-people {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  background-image: linear-gradient(-225deg, rgba(47, 128, 237, 0.8) 50%, rgba(86, 204, 242, 0.4)), image_url('9people.jpg');
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-size: 900px auto;
  background-position: 30% 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  min-height: 0;
  min-width: 0;
}

/* 10 - Price estimate emergency*/
.container-form-content-emergency {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  background-image: linear-gradient(-225deg, rgba(47, 128, 237, 0.8) 50%, rgba(86, 204, 242, 0.4)), image_url('10emergency.jpg');
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-size: 800px auto;
  background-position: 80% 55%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  min-height: 0;
  min-width: 0;
}

/* 11 - Price estimate thanks*/
.container-form-content-thanks {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  background-image: linear-gradient(-225deg, rgba(47, 128, 237, 0.8) 50%, rgba(86, 204, 242, 0.4)), image_url('11thanks.jpeg');
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-size: 1000px auto;
  background-position: 63% 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  min-height: 0;
  min-width: 0;
}


/* Rows */

.form-heading {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  padding: 30px 50px;
}





/* Buttons back and next on every page */

.form-buttons-on-every-page {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  position: absolute;
  bottom: 5px;
  left: 100px;
  // top: 285px;
  // left: 90px;
}

.form-buttons-on-floors-page {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
  position: absolute;
}

.form-buttons-on-access-count-page {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-left: 90px;
  position: absolute;
  top: -25px;
}

#form-buttons-on-access-count-page {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  position: absolute;
  top: 237px;
  left: 50px;
}

#button-back {
  color: #999999;
  border: 2px solid #999999;
  padding: 10px 50px;
  border-radius: 50px;
  font-weight: normal;
  opacity: 0.6;
  transition: background 0.5s ease;
  margin: 30px 30px;
  text-decoration: none;
}
#button-back:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

#button-next:hover {
  background-color: #f94b1b;
}

#button-next:focus {
  outline: 0;
}

#button-next {
  margin: 30px 30px;
  background-color: #FC5E25;
  border: 0px;
  padding: 10px 50px;
  border-radius: 30px;
  font-size: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
  color: white;
  text-decoration: none;
}

.access-fix-btn {
  bottom: 20px;
  left: 50px !important;
}

.access-fix-btn2 {
  bottom: 20px;
  left: 50px !important;
}
.copyright {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 80px;
  color: grey;
}


/* Only on thank you page */

.banner-thank-you-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.banner-content-thanks {
  flex: 0 0 50%;
  height: auto;
  margin-left: 100px;
}

#button-orange {
  margin: 100px 0px;
  background-color: #FC5E25;
  border: 0px;
  padding: 10px 50px;
  border-radius: 30px;
  font-size: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
  color: white;
  text-decoration: none;
}
#button-orange:hover {
  background-color: #f94b1b;
}

#button-orange:focus {
  outline: 0;
}

.banner-content-thanks h4 {
  margin-bottom: 30px;
}


// * {
//   border: solid 1px red;
// }


// Media

@media(max-width: 992px) {
  .wrapper {
    padding: 0px 100px;
  }
  .container-content-buildings-page {
    display: block;
  }
  .container-form-content-building {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    height: 150px;
    background-position: 30% 85%;
  }
}

@media(max-width: 768px) {
  .wrapper {
    padding: 0px 20px;
  }
  .container-content-buildings-page {
    display: block;
  }
  .container-form-content-building {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    height: 150px;
    background-position: 30% 85%;
  }
}


@media(max-width: 480px) {
  .wrapper {
    padding: 0px 15px;
  }
  .container-logo-help {
    display: block;
  }
  .container-content-buildings-page {
    display: block;
  }
  .container-form-content-building {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    height: 150px;
    background-position: 30% 85%;
  }
}
