body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}
h1, h2, h3 {
  font-family: Helvetica, sans-serif;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: #2F80ED;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 10px;
  font-color: lightgrey;
}
.wrapper {
  max-width: 1000px;
  margin: 0px auto;
  background-color: white;
  background-size: 100vh;
  padding: 0px 70px;

}
.container-logo img {
  padding-top: 20px;
  width: 150px;
}
.container-logo-help {
  display: flex;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.container-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(15% 35% 35% 15%);
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  border-radius: 15px;
}

.container-form-content {
  grid-column: 1 / span 1;
  grid-row: 1 / span 4;
  background-image: linear-gradient(-225deg, rgba(47, 128, 237, 0.8) 50%, rgba(86, 204, 242, 0.4)), image_url('room.jpeg');
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-size: 1500px auto;
  background-position: 5% 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  min-height: 0;
  min-width: 0;
}
.container-price-estimate {
  color: white;
  font-size: 45px;
  padding: 10px;
  flex: 0 0 60%;
}
.form-heading {
  grid-column: 2 / span 2;
  grid-row: 1 / span ;
  padding: 20px 50px;
  min-height: 0;
  min-width: 0;
}
.form-icons {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
  padding: 20px 50px;
  //display: flex;
  justify-items: space-around;
  min-height: 0;
  min-width: 0;
  img {
    width: 90px;
  }

}
.form-email {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
  padding: 0px 50px;
  min-height: 0;
  min-width: 0;
}
.form-group label {
  font-size: 13px;
}
.form-group select{
  width: 65%;
}
.form-group input {
  width: 65%;
}

.form-buttons {
  grid-column: 2 / span 2;
  grid-row: 4 / span 1;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 0;
  min-width: 0;
}

#button-back {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 40px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: background 0.5s ease;
}
#button-back:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}
#button-next {
  margin: 10px 30px;
  background-color: #FC5E25;
  border: 0px;
  padding: 10px 50px;
  border-radius: 30px;
  font-size: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
  color: white;
  text-decoration: none;
}
#button-next:hover {
  background-color: #f94b1b;
}



// * {
//   border: solid 1px red;
// }



.copyright {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}


.form-email {
label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #3A9FEE;
  border-radius: 4px;
}
}

