/*-- PAGE 11 - Dashboard */

.container-content-offer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  border-radius: 15px;
  height: 560px;
  background-color: white;
  h1 {
    margin-top: 106px;
    margin-left: 22px;
  }
}

#button-orange2 {
    margin: 100px 0px;
    background-color: #FC5E25;
    border: 0px;
    padding: 10px 50px;
    border-radius: 30px;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
    color: white;
    height: 56px;
    width: 149px;
    text-decoration: none;
}

#button-orange2:hover {
  background-color: #f94b1b;
}

#button-orange2:focus {
  outline: 0;
}


/* left column */
.container-price-recap-quotes {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  background-image: linear-gradient(-225deg, rgba(47, 128, 237, 0.8) 50%, rgba(86, 204, 242, 0.4)), image_url('12quotes.jpeg');
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-size: 900px auto;
  background-position: 60% 78%;
  padding: 30px;
}

.container-price-recap-payment {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  background-image: linear-gradient(-225deg, rgba(47, 128, 237, 0.8) 50%, rgba(86, 204, 242, 0.4)), image_url('13payment.jpg');
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-size: 900px auto;
  background-position: 64% 80%;
}
// .container-price-recap h2 {
//   margin-bottom: 50px;
// }

// .container-price-recap h4 {
//   margin-bottom: 30px;
//   font-size: 16px;
// }

// li {
//   font-size: 16px;
//   list-style-type: circle;
// }

// ul {
//   margin-left: 20px;
// }


/* right column quotes page*/

.container-offer-pay-quote {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
  padding: 30px;
}

.container-offer-pay-quote h4 {
  font-size: 18px;
  text-align: left;
  text-indent: 5px;
  line-height: 26px;
}

.container-offer-pay-quote h6 {
  font-size: 16px;
  text-align: left;
  text-indent: 5px;
  font-weight: lighter;
  line-height: 22px;
}
.container-offer-pay-quote p {
  font-size: 14px;
  text-align: left;
  text-indent: 5px;
  font-weight: lighter;
  line-height: 20px;
  margin-top: 20px;
}

.container-price-recap-quotes label {
  display: none;
}

/* Orange button */
.container-price-recap input {
  margin: 10px 0px;
  background-color: #FC5E25;
  border: 0px;
  padding: 10px 50px;
  border-radius: 30px;
  font-size: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
  color: white;
  text-decoration: none;
  text-align: left;
}
.container-price-recap input:hover {
  background-color: #f94b1b;
}

.container-price-recap-quotes input {
  margin: 10px 0px;
  background-color: #FC5E25;
  border: 0px;
  padding: 10px 50px;
  border-radius: 30px;
  font-size: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
  color: white;
  text-decoration: none;
  text-align: left;
}
.container-price-recap-quotes input:hover {
  background-color: #f94b1b;
}


.container-price-recap-quotes input:focus {
  outline: 0;
}

.black-circle {
  background-color: black;
  opacity: 0.6;
  border-radius: 100px;
}


.stripe-button-el span {
  margin: 10px 0px;
  background-color: #FC5E25 !important;
  border: 0px;
  padding: 10px 50px;
  border-radius: 30px;
  font-size: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
  color: white;
  text-decoration: none;
  text-align: left;
}

#price {
  font-size: 55px;
  color: #3A9FEE;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: canter;
  padding: 0px 30px;
  text-align: right;
}

#pay-btn {
  margin: 50px 0px;
  background-color: #FC5E25;
  border: 0px;
  padding: 10px 50px;
  border-radius: 30px;
  font-size: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
  color: white;
  text-decoration: none;
}

#pay-btn:focus {
  outline: 0;
}

.form-group input {
  width: 100%;
  border-radius: 6px;
  border: none;
  margin-top: 10px;
  padding: 22px 12px;
  font-size: 19px;
  font-weight: normal;
}

// .btn {
//   margin: 20px 0px;
//   background-color: #FC5E25;
//   border: 0px;
//   padding: 10px 50px;
//   border-radius: 30px;
//   font-size: 20px;
//   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
//   transition: 0.5s ease;
//   color: white;
//   text-decoration: none;
// }
// .btn:hover {
//   background-color: #f94b1b;
//   color: white;
// }

/* Calendar */
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #eeeeee !important;
  opacity: 1;
  color: black;
  width: 200px;
}




/* right column confirmation page*/

.container-offer-pay-confirmation {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
  padding: 60px;
  line-height: 40px;
}

.container-offer-pay-confirmation span {
  font-size: 20px;
}

#stripe-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

