/*-- PAGE 1 - HOME */

body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}
.text-center {
  text-align: center;
}
.banner {
  color: white;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(-225deg, rgba(47, 128, 237, 0.5) 50%, rgba(86, 204, 242, 0.6)), image_url('1background.jpeg');
}
.banner-content {
  width: 80%;
}
.banner h1 {
  font-size: 65px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 0px;
}
.banner h2 {
  font-size: 30px;
  font-family: Helvetica;
  font-weight: lighter;
  opacity: 0.7;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-top: 11px;
  margin-bottom: 40px;
  color: white;
  text-align: left;
}

.form-group-label {
  display: none;
}
.form-group input {
  max-width: 400px;
}

.banner input.btn{
  margin: 10px 30px;
  background-color: #FC5E25;
  border: 0px;
  padding: 10px 50px;
  border-radius: 30px;
  font-size: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
  color: white;
  text-decoration: none;
}
.banner-input:hover {
  background-color: #f94b1b;
}

.form-inline {
  display: flex;
  align-items: left;
}

.white-email-label {
  display: none;
}







// Page 11


body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}
.text-center {
  text-align: center;
}

.banner-thank-you-page {
  color: white;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(-225deg, rgba(47, 128, 237, 0.5) 50%, rgba(86, 204, 242, 0.6)), image_url('11thanks.jpeg');
}
.banner-content-thanks {
  flex: 0 0 50%;
  height: auto;
  margin-left: 100px;
}
.banner-thank-you-page h1 {
  font-size: 65px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 0px;
}
.banner-thank-you-page h2 {
  font-size: 30px;
  font-family: Helvetica;
  font-weight: lighter;
  opacity: 0.7;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-top: 11px;
  margin-bottom: 40px;
  color: white;
  text-align: left;
}
.banner-content-thanks h4 {
  margin-bottom: 30px;
}
#button-orange {
  margin: 100px 0px;
  background-color: #FC5E25;
  border: 0px;
  padding: 10px 50px;
  border-radius: 30px;
  font-size: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
  color: white;
  text-decoration: none;
}
#button-orange:hover {
  background-color: #f94b1b;
}





// Media

@media(max-width: 992px) {
  .banner {
    background-position: center;
  }
  .banner-content {
  }
}

@media(max-width: 768px) {
  .banner {
    background-position: center;
  }
  .banner-content h1 {
    font-size: 55px;
  }
  .banner input.btn {
    margin: 0px;
  }
}


@media(max-width: 480px) {
  .banner {
    background-position: center;
  }
  .banner-content h1 {
    font-size: 50px;
  }
  .banner input.btn {
    margin: 0px;
  }
}

