<!-- PAGE 6 - FORM windows -->

<h2> How many windows do you have on this floor? </h2>

<%= form_tag building_windows_create_path(@building) do %>
  <% @floors.each do |floor| %>
    <%= fields_for 'floors[]', floor do |p| %>
      <div class="field">
        <%= p.label floor.floor_type %><br>
        <%= p.text_field :windows %>
      </div>
    <% end %>
  <% end %>
  <div class="actions">
    <a href="#" id="button-back">Back</a>
    <input name="commit" type="submit" value="Next" id="button-next" />
  </div>
<% end %>
