<div class="container-content-doors-page animated" id="card-door-new">
  <div class="container-content">
    <div class="container-form-content-door">
      <div class="container-price-estimate">
      </div>
    </div>

    <div class="form-heading">
      <h2>How many doors leading outside do you have on this floor?</h2>
    </div>

    <!-- Form content  -->
    <div class="form-on-every-page">

    <%= form_tag building_doors_create_path(building), remote: true do |f| %>
      <% floors.each do |floor| %>
        <%= fields_for 'floors[]', floor do |p| %>
        <div class="field">
          <%= p.label floor.floor_type %><br>
          <%= p.text_field :doors %>
        </div>
        <% end %>
      <% end %>

      <div class="form-buttons-on-every-page">
        <a href="#" id="button-back">Back</a>
        <input name="commit" type="submit" value="Next" id="button-next" />
        <% end %>
      </div>

    </div>


  </div>
</div>
