<div class="banner">
        <div class="banner-content">
          <h1>Home security made easy</h1>
          <h2>
            Tested alarm system specialists from your region
          </h2>

        <div class="form-inline">
          <%= simple_form_for  @request do |f|%>
            <%= f.input :zip_code, as: :integer, placeholder: "Your ZIP code" %>
            <%= f.submit "Get Offers", :class => "btn" %>
          <% end %>
        </div>
</div>
