<div class="banner">
        <div class="banner-content">
          <h1>Home security made easy</h1>
          <h2>
            Tested alarm system specialists from your region
          </h2>
          

          <%= simple_form_for  @request do |f|%>
            <%= f.input :zip_code, as: :integer %>
            <%= f.submit "Get Offers" %>
          <% end %>



<!--           <form class="form">
                <input type="ZIP" placeholder="ZIP code">
                <button type="submit">Get offers</button>
          </form>
 -->