<!-- PAGE 11 Second version -->

<div class="banner-thank-you-page">
  <div class="banner-content-thanks">
    <h1>Thank you for trusting us</h1>

    <h6>Within the next 5 working days you will receive 5 free offers from trusted SECURA partners from your region. If you have any remaining questions please refer to our <a data-toggle="modal" data-target="#exampleModalCenter">FAQ</a> or get in touch with our security experts via telephone or email.</h6>

    <h4>Your reference number was sent to <b><%= @user.email %></b></h4>
    <a href id="button-orange">See Results</a>
  </div>
</div>
</div>