<div class="container text-align">
  <h3>Thank you for trusting us</h3>

  <h5>Within the next 5 working days you will receive 5 free offers from trusted SECURA partners from your region. If you have any remaining questions please refer to our FAQ or get in touch with our security experts via telephone or email.</h5>



  <h5>Your reference number was sent to <%= @user.email %></h5>

<a href="#">info@secura.de</a>
</div>


