<!-- PAGE 11 Second version -->

<div class="banner-thank-you-page">
  <div class="banner-content-thanks">
    <h1>Thank you for trusting us</h1>

    <h6>Within the next 5 working days you will receive 5 free offers from trusted SECURA partners from your region. If you have any remaining questions please refer to our <a data-toggle="modal" data-target="#exampleModalCenter">FAQ</a> or get in touch with our security experts via telephone or email.</h6>

    <h4>Your offers were sent to <b><%= @user.email %></b></h4>
    <a href id="button-orange">Home</a>
  </div>
</div>
</div>

<!-- FOOTER GOES HERE -->

<div class="wrapper-links">
  <div class="column">
    <h5>SECURA</h5>
    <p>About Us</p>
    <p>Why SECURA</p>
    <p>How it works</p>
    <p>Jobs</p>
  </div>
  <div class="column">
    <h5>Alarm Systems</h5>
    <p>Purchase Advisor</p>
    <p>Alarm Systems with Kids?</p>
    <p>Alarm goes off...What now?</p>
  </div>
  <div class="column">
    <h5>Customer Service</h5>
    <p>FAQ</p>
    <p>Contact</p>
    <p>Terms & Condition</p>
    <p>Data Protection</p>
  </div>
  <div class="column">
    <h5>Payment Methods</h5>
    <p><%= image_tag "vorkasse.png", style: "height: 35px" %></p>
    <p><%= image_tag "master_card.png", style: "height: 35px" %></p>
    <p><%= image_tag "visa.png", style: "height: 35px" %></p>
    <p>Invoice</p>
  </div>
</div>

<div class="wrapper-bottom">
    <p>Copyright (c) 2018 Secura AG, all rights reserved</p>
    <p>Login in as a partner</p>
</div>