<!-- PAGE 2 - FORM Buildings (and rest of the funnel) -->
<div class="wrapper">
  <div class="main-container">

    <%= render 'shared/form_top' %>
    <%= render 'shared/building_new', request: @request, building: @building %>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle"><strong>FAQ</strong></h5>

      </div>
      <div class="modal-body">
        <h6>Here you find answers to the most frequently asked questions about SECURA. If you wish to receive more information about different alarm systems and the decision process, please refer to our advisor blog.<br> SECURA in General <br> What does SECURA do?  <br> Why should I use SECURA?  <br> can SECURA be used by companies?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

