<!-- PAGE 2 - FORM Buildings (and rest of the funnel) -->
<div class="wrapper">
  <div class="main-container">

    <%= render 'shared/form_top' %>
    <%= render 'shared/building_new', request: @request, building: @building %>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle"><strong>FAQ</strong></h5>

      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias cupiditate autem corrupti sequi, dolor a dignissimos dolores repellat, placeat atque nam voluptatibus quod in doloribus pariatur ratione tempora velit, illum.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

