
/* Form logic only on floor page */

.form-floor {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
}

.form-on-every-page-floor {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
  padding: 30px 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
/* all the form checkboxes (not labels) */
.checkbox input[type="checkbox"] {
  margin: 5px -32px;
}


/* Form logic on every page*/

.form-on-every-page {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
  padding: 10px 50px;
}

.form-on-every-page label {
  display: inline-block;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: normal;
}

.form-on-every-page input {
  border-radius: 4px;
  box-shadow: none;
}


.small-form-heading {
  margin-top: 10px;
  margin-left: 50px;
}

/* New styles */



.new_floor {
  width: 100%;
  padding: 0 10px;
}

.styled-input-container-floor {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 50px;
}

.styled-input-container-floor label {
  font-weight: normal;
  font-size: 17px;
  padding: 12px 0 3px 5px;

}

.styled-input-single label:before {
  left: 0;
  width: 30px;
  height: 30px;
  margin: -4px 0 0;
  background: #f7f7f7;
  box-shadow: 0 0 1px grey
}

.styled-input-single {
  position: relative;
  padding: 12px 0px 3px 50px;
  text-align: left;
  font-weight: normal;
  font-size: 17px;
  label {
    cursor: pointer;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      border-radius: 50%;

    }
    &:before {
      left: 0;
      width: 30px;
      height: 30px;
      margin: -7px 0 0;
      background: #f7f7f7;
      box-shadow: 0 0 1px grey;
    }
    &:after {
      left: 5px;
      width: 20px;
      height: 20px;
      margin: -2px 0 0;
      opacity: 0;
      background: #3A9FEE;
      transform: translate3d(-40px, 0, 0) scale(0.5);
      transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    }
  }

  input[type="checkbox"], input[type="radio"] {
    position: absolute;
    top: 0;
    left: -9999px;
    visibility: hidden;

    &:checked + label {
      &:before {
      }
      &:after {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
  }
}


.styled-input--rounded {
  label {
    &:before {
      border-radius: 10px;
    }
    &:after {
      border-radius: 6px;
    }
  }
}

