.slider-track {
  height: 15px !important;
  margin-top: -7px !important;
  border-radius: 15px !important;
}

.slider-selection {
  background-image: linear-gradient(to bottom, #3A9FEE 0%, #3A9FEE 100%) !important;
}