<!-- PAGE 7 - FORM rooms -->

<h2>How many rooms do you have on this floor?</h2>

<%= form_tag building_rooms_create_path(@building) do %>
  <% @floors.each do |floor| %>
    <%= fields_for 'floors[]', floor do |p| %>
      <div class="field">
        <%= p.label floor.floor_type %><br>
        <%= p.text_field :rooms %>
      </div>
    <% end %>
  <% end %>
  <div class="actions">
    <a href="#" id="button-back">Back</a>
    <input name="commit" type="submit" value="Next" id="button-next" />
  </div>
<% end %>
